<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
      <rewrite>
			<rules>
				<rule name="AngularJS Conditions" stopProcessing="true">
					<match url="vendor/.*|src/assets/.*|src/app.js|src/app-constants.js|src/app-routes.js|src/app-run.js|src/app/.*" />
					<action type="None" />
				</rule>
				<rule name="AngularJS Wildcards">
					<match url=".*" />
					<action type="Rewrite" url="src/index.html" />
				</rule>
			</rules>
		</rewrite>
    </system.webServer>
</configuration>
