<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Manage Users</h1>
            <div mp-loading-icon></div>
            <!-- Flash message - move into directive -->
            <div class="alert" ng-if="user.flash">
                <p>{{user.flash.getMessage()}}</p>
            </div>
            <div class="input-group col-md-6" ng-if="user.loaded">
                <input type="text" class="search-query form-control" placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn" type="button" aria-label="Search">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-10">
            <a class="btn btn-primary" role="button" ng-if="user.loaded" href="/users/manage">Add User</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="table-responsive" ng-if="user.loaded">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Country</th>
                            <th>IP Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in user.users">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.LastName}}</td>
                            <td>{{item.Email}}</td>
                            <td>{{item.Country}}</td>
                            <td>{{item.IpAddress}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
