<div class="starter-template">
    <div class="row">
        <div class="col-md-10">
            <h1>Manage Users</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Country</th>
                        <th>IP Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in user.users">
                        <td>{{item.FirstName}}</td>
                        <td>{{item.LastName}}</td>
                        <td>{{item.Email}}</td>
                        <td>{{item.Country}}</td>
                        <td>{{item.IpAddress}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
