/* Main entry point for CSS creation for less files */

@import "bootstrap/bootstrap.less";
/* Custom variables */
@animation-delay : 2s;
@animation-duration: 1s;

/* CSS used to customise Bootstrap for starter template */
body {
  padding-top: 50px;
}

/* CSS used when Javascript disabled */
#noscript-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    text-align: center;
    font-size: 120%;
    color: #000;
    background-color:#ECECEC;
    padding: 5px 0 5px 0;
}

#noscript-padding {
    padding-top: 1.9em;
}

/* Animations*/
.alert {
  -webkit-animation-duration: @animation-duration !important;
  -webkit-animation-delay:@animation-delay !important;
  -moz-animation-duration: @animation-duration !important;
  -moz-animation-delay: @animation-delay !important;
}